/* CSS Document for internship */ 

 

body { 
    font-family: Arial, sans-serif;                
    background: rgb(27,64,189);
    background: linear-gradient(0deg, rgba(27,64,189,1) 0%, rgba(92,97,147,1) 48%, rgba(139,138,140,0.9126602564102564) 96%);
    margin: 0;       
    padding: 0;       
    display: flex;         
    justify-content: center;
    align-items: center; 
    height: 100vh; 
} 
input:required:focus {
border: 2px solid red;
}
label:after {
content: ' *';
color: red;
}
.main {                 background-color: #fff; 
              border:thin solid #999999; 
  border-radius: 15px;    
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2); 
  padding: 20px; 
  width: 400px; 
} 

.main h2 {                 color: #FF6600; 
  margin-bottom: 20px; 
} 

label {                 display: block;            margin-bottom: 5px;        color: #555; 
  font-weight: bold; 
} 

input[type="text"],
input[type="email"], 
input[type="date"], 
select {                 width: 100%;               margin-bottom: 15px;       padding: 10px;             box-sizing: 
  border-box;         
  border: 1px solid #ddd; 
  border-radius: 5px; 
} 
        input[type="radio"] 
        { 
                margin-bottom: 15px; 
    padding: 10px; 
         } 

button[type="submit"] {     
  padding: 15px;     
  border-radius: 10px; 
  border: none;  
  background-color: orange;
  color: red;      
  cursor: pointer;  
  width: 100%; 
  font-size: 16px; 
} 
         button[type="submit"]:hover { 
    background-color: brown;
    color: green; 
}